
 * { 
    font-family: sans-serif; 
 }

nav {
    background-color: black;
    margin-left: 180px;
    margin-right: 200px;

}

nav li {
    display: inline;
}


.H1heading{
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
    top: 0;
    left: 0;
    right: 0;
    display: inline;
    color:blue;
    Z-index: 1;
    background-color:yellow;
}

.h2 {
    text-align:center;
    color: green;
    font-size: x-large;
    list-style: none;   
    
}

li {
    position: relative;
    list-style: none;

}

li a {
    text-decoration:none;
    color: yellow;
    padding: 35px;


}
html {
    scroll-padding-top: 180px;
  }

body {
    background-color: grey;
    margin-top: 180px;
    text-align: center;
    align-items: center;
}

.infomain {
    width: 50%;
    padding: 2px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: yellow;
    margin: auto;
}

img {
    border: 5px solid black;
    width: 40%
}

.fillform {
    color: white;
    margin-top: 25px;
    font-size: x-large;
}

.form {
    background-color: white;
    padding: 10px;
    width: 35%;
    margin-bottom: 30px;
    margin-top: 20px;
}

footer {
    margin-bottom: 50px;
}